h3 {
  text-align: center;
  
}
.img {
  text-align: center;
  margin-top: 40px;
}
.paper,
.scissor {
  margin-left: 20px;
}
.row {
  text-align: center;
}
body {
  background: url(images/powerpoint-background-77.jpg);
}
